#form{
  background-image: url(./assets/hospitalbg.png);  
  background-size: cover;
  background-repeat: no-repeat;
 
}

.dashboard{
  margin-top: 80px;
  background-image: url(./assets/hospitalbg.png);  
  background-size: cover;
  background-repeat: no-repeat;
 
}

.navbar{
  background-color: #183D5A;
  height: 80px !important;
}
.nav-link{
  color: #fff!important;
  font-size: 15px !important;
  margin-right: 20px !important;
  font-weight: 500 !important;
  margin-left: 20px !important;
}
#logout{
  align-items: end;
  margin-left: 50px;
  background-color: #4E7490!important;
  border-color: #fff !important;
  padding: 10px !important;
  
}
#logout:hover{
  background-color: #fff !important;
  color: #2A628C;
 
}

#txtpass{
 
}

#logincon{
  margin-bottom: 80px;
  margin-top: 100px;

}


.formcon{
  width: 600px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 0.5px solid #DFE3E6;
  padding: 35px;
  border-radius: 10px;
  background-color: white;

}
.lblform{
  margin-bottom: 40px;
  margin-top: 0px;
  color: #2A628C;
}

.reginfocon{
  margin-top: 20px;
}

#formbtn{
  margin-top: 20px;
  background-color: #2A628C;
  color:white;
  height: 45px;
  font-weight: 600;
  font-size: large;
 
  
}

.btnback{
  margin-top: 50px;
  background-color: #3D7CA7;
  color:white;
  border-radius: 10px ;
  border: 0.5px solid #DFE3E6;
  height: 45px;
  width: 100px;
  font-weight: 300;
  font-size: medium;
}

.lbl{
  margin-top: 100px;
  color: #5FAACC;
  margin-bottom: 50px;
}

h6 {
  text-transform: uppercase;
  margin-bottom: 30px !important;
}
h5{
  color: #3D7CA7 !important;
  margin-bottom: 15px !important;
}

.book{
  width: 230px;
  font-weight: bold;
  border-color: #4E7490 !important;
  border-width: 3px;
  position: absolute;
  background-color: #4189bd !important;
  bottom: 10px; 
  left: 50%;
  color: #ffffff !important;
  transform: translateX(-50%); 
}

dialog {
  width: 600px;
  border: 0.5px solid #98a8b4;
  padding: 35px;
  border-radius: 10px;
  background-color: white;

}

h2{
  color: #214e70 !important;
  margin-bottom: 20px !important;
}

.manage-users{
  margin-top: 100px;
}

.navmanage-users{
  margin-top: 40px;
}

.link-user{
  color: #5FAACC !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
  
}

.lblform{
  color: #4885b4 !important;
  margin-top: 50px;
}

.manageuser-con{
  margin-left: 1000px;
}

th{
  color: #4E7490 !important;
  font-weight: 600 !important;
  font-size: 15px !important;
 
  
}

td{
  color: #283138 !important;
  font-weight: 400 !important;
  font-size: 13px !important;
}

.edit{
  background-color: #6791ad !important;
  color: white;
  border-color: #2a658c !important;
  width: 100px !important;
  border: 0.5px solid #DFE3E6;
  border-radius: 10px;
  font-weight: 600 !important;
  font-size: 13px !important;
  margin-right: 2px !important;
  margin-bottom: 5px;
}

.delete{
  background-color: #e04f4f !important;
  color: white;
  border-color: #e04f4f !important;
  width: 100px !important;
  border: 0.5px solid #DFE3E6;
  border-radius: 10px;
  font-weight: 600 !important;
  font-size: 13px !important;
  margin-right: 2px !important;
}

.prof{
  margin-top: 100px;
  border: 0.5px solid #DFE3E6;
  padding: 40px !important;
 
}

.lblprof{
  color: #4784b3;
  margin-bottom: 30px;
}

.u-case{
  text-transform: uppercase;
}

.ul-prof{
  margin-bottom: 50px !important;
}

.edit-prof{
  background-color: #6791ad !important;
  color: white;
  border-color: #2a658c !important;
  width: 200px !important;
  height: 30px;
  border: 0.5px solid #DFE3E6;
  border-radius: 10px;
  font-weight: 600 !important;
  font-size: 16px !important;
  margin-right: 2px !important;
  margin-bottom: 5px;
  
}

.btn-cancel{
  background-color: #f36359 !important;
  color: white;
  width: 200px !important;
  height: 40px;
  border: 0.5px solid #DFE3E6;
  border-radius: 10px;
  font-weight: 600 !important;
  font-size: 16px !important;
  margin-right: 20px !important;
  margin-bottom: 5px;
  
}

.btn-save{
  background-color: #58a89e !important;
  color: white;
  width: 200px !important;
  height: 40px;
  border: 0.5px solid #DFE3E6;
  border-radius: 10px;
  font-weight: 600 !important;
  font-size: 16px !important;
  margin-right: 2px !important;
  margin-bottom: 5px;
  
}

.cancelsched{
  background-color: #dfc865 !important;
  color: white;
  width: 150px !important;
  height: 30px;
  border: 0.5px solid #DFE3E6;
  border-radius: 10px;
  font-weight: 600 !important;
  font-size: 16px !important;
  margin-right: 20px !important;
  margin-bottom: 5px;

}

.view-mr{
  background-color: #73d378 !important;
  color: white;
  width: 100px !important;
  height: 30px;
  border: 0.5px solid #DFE3E6;
  border-radius: 10px;
  font-weight: 600 !important;
  font-size: 16px !important;
  margin-right: 2px !important;
  margin-bottom: 5px;
  
}

.edit-mr{
  background-color: #6791ad !important;
  color: white;
  border-color: #2a658c !important;
  width: 100px !important;
  height: 30px;
  border: 0.5px solid #DFE3E6;
  border-radius: 10px;
  font-weight: 600 !important;
  font-size: 15px !important;
  margin-right: 2px !important;
  margin-bottom: 5px;
  
}


.table th, .table td {
  white-space: nowrap;
  text-overflow:clip;
  overflow:auto;
  max-width: 200px; 
}

.medrec{
  margin-top: 100px;
  border: 0.5px solid #DFE3E6;
  padding: 40px !important;
}

.lblmedrec{
  color: #4784b3;
  margin-bottom: 30px;
}

label{
  font-weight: 600 !important;
}

.tblcon{
  margin-top: 100px;
}

.welc{
  margin-top: 170px;
  background-color: #1b486d;
  color: white;
  width: 1000px !important;
  text-align: center;
  padding: 50px;
  opacity: 0.9;
  border-radius: 10px;
 
}
.norec{
  margin-top: 40px;
  border: 0.5px solid #DFE3E6;
  padding: 200px !important;
  color: #6f7579;
  text-align: center;
  border-radius: 10px;
}

.app{
  margin-top: 100px;
}

.appcon{
  border: 0.5px solid #DFE3E6;
  padding: 40px !important;
  margin-top: 100px;
}

.prlbl{
  margin-top: 10px;
}

.upbtncon {
  display: flex;
  justify-content: flex-end;
  gap: 10px; 
  margin-top: 10px; 
}

.btnh:hover {
  transform: scale(1.1); /* Zooms in the button on hover */
}